@import url('https://fonts.googleapis.com/css2?family=Hi+Melody&display=swap');
@import url(cssscreen.css) screen;
@import url(csspprint.css) print;

html body {
    margin: 0;
    padding: 0;
}

h6{
    font-family: "Hi Melody", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 30px;
    margin: 0;
    padding: 0;
    text-align: center;
    
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.img_responsive {
    width: 100%;
    height: auto;
}

.container {
    width: auto;
    height: 945px;
    margin: 0;
    padding: 0;
    position: relative;
}

h4 {
    margin: 0px;
    padding: 0px;
}

h1 {
    font-size: 20px;
}

.animal-title > h1{
    font-family: "Hi Melody", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 35px;
    margin: 0;
    padding: 0;
    text-align: center;
}

.animal-title{
    margin-top: 200px;
    margin-left: 550px;
    width: 600px;
    height: 50px;
}

.left-container {
    display: inline-block;
    width: 208px;
    height: 945px;
    position: fixed;
    outline: 1px solid grey;
}

.logo {
    width: 208px;
    height: 130px;
    display: block;
}

.logo-name {
    margin-top: 13px;
    margin-right: 25px;
    float: right;
    width: 110px;
    height: 120px;
}

.logo-img {
    margin-top: 10px;
    margin-left: 23px;
    float: left;
    width: 50px;
    height: 120px;
    object-fit: cover;
    width: 50px;
    height: 120px;
}

.about-container {
    width: 208px;
    height: 700px;
    font-family: "Hi Melody", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    background-color: #FBFDEA;
}

.cat-about {
    margin-left: 40px;
    margin-top: 15px;
    padding-top: 35px;
    width: 140px;
    height: 80px;
}

.footer {
    position: fixed;
    background-color: #FBFDEA;
    text-align: center;
    width: 208px;
    height: 100px;
    font-family: "Hi Melody", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}

.contact {
    background-color: #FBFDEA;
    width: 208px;
    height: 75px;
    display: inline-block;
}

.right-container {
    display: inline-block;
    margin-left: 208px;
    position: absolute;
    /*background-color: bisque;*/
    flex: 1;
}

.select-container{
    width: 100%;
    height: 100%;
    display: block;
}

article {
    margin: 0;
    padding: 0;
    float: left;
    width: calc(100% / 5);
    min-width: 339px;
    height: 300px;
    position: relative;
    overflow: hidden;
}

article img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

article:hover img {
    transform: scale(1.2);
}

img {
    transition: transform 0.7s ease;
}

.img-pop {
    position: fixed;
    left: 50%;
    margin-left: -15.5%;
    top: 50%;
    margin-top: -350px;
    border-radius: 25px;
    overflow: hidden;
    width: 800px;
    height: 700px;
    display: none;
    transition: opacity 0.5s;
    background-color: black;
}


.back-img {
    width: 208px;
    height: 250px;
    margin-top: 360px;
    opacity: 0.8;
}

.back-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.icon-container{
    position: relative;
    margin-left: 500px;
    margin-top: 50px;
    width: 700px;
    height: 200px;
}

.icon-img > img{
    object-fit: cover;
    width: 150px;
    height: 150px;
    border-radius: 10px;
    cursor: pointer;
}

.icon-img > img:hover {
    transform: scale(0.95);
}

.icon-img{
    width: 150px;
    height: 150px;
}

.seol-icon{
    width: 150px;
    height: 200px;
    float: left;
    cursor: pointer;
}
.munch-icon{
    position: absolute;
    width: 150px;
    height: 200px;
    display: inline-block;
    left: 39.2%;
    cursor: pointer;
}
.choco-icon{
    width: 150px;
    height: 200px;
    float: right;
    cursor: pointer;
}




@media (min-width: 414px) and (max-width: 414px) {
    .left-container {
        width: 70%;
    }

    .about-container {
        margin-top: 0px;
        padding: 0;
        font-size: 15px;
        width: 50%;
        height: 530px;
    }

    .contact {
        width: 70%;
    }

    .logo {
        width: 50%;
    }

    .logo-img {
        width: 20px;
        height: 12px;
        margin-top: 22px;
        margin-left: 15px;
    }

    .logo-name {
        width: 50%;
        font-size: 10px;
        height: 12px;
        margin-top: 30px;
        margin-right: 16px;
    }

    h1 {
        font-size: 12px;
    }

    .logo-img img {
        width: 40px;
        height: 90px;
    }

    .cat-about {
        margin-left: 10px;
        margin-top: 0px;
        padding-top: 20px;
        width: 140px;
        height: 80px;
    }

    .back-img {
        width: 100%;
        height: 150px;
        margin-top: 285px;
        opacity: 0.8;
    }

    .footer {
        position: fixed;
        background-color: #FBFDEA;
        text-align: center;
        width: 35%;
        height: 200px;
        font-size: 15px;
    }

    .contact {
        background-color: #FBFDEA;
        width: 100%;
        height: 75px;
        display: inline-block;
    }

    article {
        margin: 0;
        padding: 0;
        float: left;
        width: 70%;
        min-width: 258px;
        height: 200px;
        position: relative;
        overflow: hidden;
    }

    .right-container {
        display: inline-block;
        margin-left: 139px;
        position: absolute;
        /*background-color: bisque;*/
        width: 20%;
    }

    .img-pop {
        margin-left: -47.5%;
        margin-top: -150px;
        border-radius: 5px;
        width: 95%;
        height: 300px;
    }
}

@media (min-width: 360px) and (max-width: 374px) {
    .left-container {
        width: 70%;
    }

    .about-container {
        margin-top: 0;
        padding: 0;
        font-size: 15px;
        width: 50%;
        height: 415px;
    }

    .contact {
        width: 70%;
    }

    .logo {
        width: 50%;
    }

    .logo-img {
        width: 20px;
        height: 12px;
        margin-top: 10px;
        margin-left: 12px;
    }

    .logo-name {
        width: 50%;
        font-size: 10px;
        height: 12px;
        margin-top: 15px;
        margin-right: 14px;
    }

    h1 {
        font-size: 12px;
    }

    .logo-img img {
        width: 40px;
        height: 90px;
    }

    .cat-about {
        margin-left: 10px;
        margin-top: 0px;
        padding-top: 30px;
        width: 140px;
        height: 80px;
    }

    .back-img {
        width: 100%;
        height: 150px;
        margin-top: 170px;
        opacity: 0.8;
    }

    .footer {
        position: fixed;
        background-color: #FBFDEA;
        text-align: center;
        width: 35%;
        height: 200px;
        font-size: 15px;
    }

    .contact {
        background-color: #FBFDEA;
        width: 100%;
        height: 75px;
        display: inline-block;
    }

    article {
        margin: 0;
        padding: 0;
        float: left;
        width: 70%;
        min-width: 222px;
        height: 200px;
        position: relative;
        overflow: hidden;
    }

    .right-container {
        display: inline-block;
        margin-left: 121px;
        position: absolute;
        /*background-color: bisque;*/
        width: 20%;
    }

    .img-pop {
        margin-left: -47.5%;
        margin-top: -150px;
        border-radius: 5px;
        width: 95%;
        height: 287px;
    }



}

@media (min-width: 375px) and (max-width: 389px) {
    .left-container {
        width: 70%;
    }

    .about-container {
        margin-top: 0;
        padding: 0;
        font-size: 15px;
        width: 50%;
        height: 445px;
    }

    .contact {
        width: 70%;
    }

    .logo {
        width: 50%;
    }

    .logo-img {
        width: 20px;
        height: 12px;
        margin-top: 10px;
        margin-left: 12px;
    }

    .logo-name {
        width: 50%;
        font-size: 10px;
        height: 12px;
        margin-top: 15px;
        margin-right: 14px;
    }

    h1 {
        font-size: 12px;
    }

    .logo-img img {
        width: 40px;
        height: 90px;
    }

    .cat-about {
        margin-left: 10px;
        margin-top: 0px;
        padding-top: 30px;
        width: 140px;
        height: 80px;
    }

    .back-img {
        width: 100%;
        height: 150px;
        margin-top: 200px;
        opacity: 0.8;
    }

    .footer {
        position: fixed;
        background-color: #FBFDEA;
        text-align: center;
        width: 35%;
        height: 200px;
        font-size: 15px;
    }

    .contact {
        background-color: #FBFDEA;
        width: 100%;
        height: 75px;
        display: inline-block;
    }

    article {
        margin: 0;
        padding: 0;
        float: left;
        width: 70%;
        min-width: 231px;
        height: 200px;
        position: relative;
        overflow: hidden;
    }

    .right-container {
        display: inline-block;
        margin-left: 127px;
        position: absolute;
        /*background-color: bisque;*/
        width: 20%;
    }

    .img-pop {
        margin-left: -47.5%;
        margin-top: -150px;
        border-radius: 5px;
        width: 95%;
        height: 300px;
    }



}

@media (min-width: 390px) and (max-width: 413px) {
    .left-container {
        width: 70%;
    }

    .about-container {
        margin-top: 0;
        padding: 0;
        font-size: 15px;
        width: 50%;
        height: 585px;
    }

    .contact {
        width: 70%;
    }

    .logo {
        width: 50%;
    }

    .logo-img {
        width: 20px;
        height: 12px;
        margin-top: 10px;
        margin-left: 12px;
    }

    .logo-name {
        width: 50%;
        font-size: 10px;
        height: 12px;
        margin-top: 15px;
        margin-right: 14px;
    }

    h1 {
        font-size: 12px;
    }

    .logo-img img {
        width: 40px;
        height: 90px;
    }

    .cat-about {
        margin-left: 10px;
        margin-top: 0px;
        padding-top: 30px;
        width: 140px;
        height: 80px;
    }

    .back-img {
        width: 100%;
        height: 150px;
        margin-top: 340px;
        opacity: 0.8;
    }

    .footer {
        position: fixed;
        background-color: #FBFDEA;
        text-align: center;
        width: 35%;
        height: 200px;
        font-size: 15px;
    }

    .contact {
        background-color: #FBFDEA;
        width: 100%;
        height: 75px;
        display: inline-block;
    }

    article {
        margin: 0;
        padding: 0;
        float: left;
        width: 70%;
        min-width: 243px;
        height: 200px;
        position: relative;
        overflow: hidden;
    }

    .right-container {
        display: inline-block;
        margin-left: 130px;
        position: absolute;
        /*background-color: bisque;*/
        width: 20%;
    }

    .img-pop {
        margin-left: -47.5%;
        margin-top: -150px;
        border-radius: 5px;
        width: 95%;
        height: 300px;
    }



}

